body {
    background-color:mintcream;
    font-family: 'Open Sans', 'Open Sans', 'Open Sans';
}
hr {
    width:5%;
    border-style:dotted none none none;
    border-color:black;
    border-width:10px;
}

